<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apostila de Vídeo Aulas</title>
    <link rel="stylesheet" href="styles/apostila.css">
    <link rel="icon" href="../img/Logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="stylesheet" href="../styles/apostilas.css">
</head>
<body>
    <div id="conteudo_apostila">
        <!-- Lado Verde -->
        <div id="verde_apostila">
            <div id="titulo_apostila">
                <img src="../img/Logo.png" alt="Logo do Projeto">
                <img src="../img/LogoTitulo.png" alt="Nome do Projeto">
            </div>
            <div id="topoVerde_apostila">
                <h2 id="tituloVerde_apostila">Apostila Digital</h2>
                <p id="descricaoVerde_apostila">
                    Esta seção reúne os principais links de acesso à nossa apostila de vídeo aulas de matemática, organizadas para apoiar o estudo e a prática dos conteúdos do projeto <strong>Fórmulas Para o Futuro</strong>.
                </p>
                <p id="slogan_apostila">
                    Aprendendo matemática para transformar o futuro com consciência ambiental
                </p>
            </div>
        </div>

        <!-- Lado Branco -->
        <div id="branco_apostila">
            <div>
                <h1 id="tituloBranco_apostila">Links da Apostila</h1>
                <p id="descricaoBranco_apostila">Selecione o conteúdo desejado:</p>
            </div>

            <div id="linksBranco_apostila">
                <h2 class="subtitulo">Apostila Interativa</h2>
                <a href="https://www.youtube.com/playlist?list=PLgqScIwW6LzSSxLFfFWYpJHjQtDNrjONo" class="subtitulo" target="_blank"><i class="fa-solid fa-play"></i> Acessar Módulo 1 - Educação Ambiental</a>
                <a href="https://www.youtube.com/playlist?list=PLgqScIwW6LzQbzleJ5i7OSF-nb1xjMkm3" class="subtitulo" target="_blank"><i class="fa-solid fa-play"></i> Acessar Módulo 2 - Sustentabilidade</a>
                <a href="" class="subtitulo"><i class="fa-solid fa-play"></i> Acessar Módulo 3 - Emergência Climática</a>
                <a href="" class="subtitulo"><i class="fa-solid fa-play"></i> Acessar Módulo 4 - Educação Ambiental no Brasil</a>
                <a href="" class="subtitulo"><i class="fa-solid fa-play"></i> Acessar Módulo 5 - Educação Ambiental no Ceará</a>
                <a href="../templates/download.html" class="subtitulo"><i class="fa-solid fa-play"></i> Download Completo da Apostila</a>
            </div>

            <div id="paginasBranco_apostila">
                <h2 style="color: #075482;">Navegação</h2>
                <div id="links_apostila">
                    <a href="../index.html">Voltar ao Início</a>
                    <a href="./apresentacao.html">Mais sobre o projeto</a>
                    <a href="">Créditos</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
